<template>
  <div id="ConfirmDialog">
    <v-dialog
      v-if="confirmDialog"
      :value="confirmDialog"
      persistent
      max-width="290"
    >
      <v-card>
        <v-card-title
          class="headline"
        >
          Delete record
        </v-card-title>
        <v-card-text>Are you sure?</v-card-text>
        <v-card-actions>
          <v-spacer/>
          <v-btn
            color="green darken-1"
            flat="flat"
            @click="clickNo"
          >
            No
          </v-btn>
          <v-btn
            color="green darken-1"
            class="modal-default-button"
            flat="flat"
            @click="clickYes"
          >
            Yes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "ConfirmDialog",
  data() {
    return {};
  },
  computed: {
    ...mapState("user", {
      user: state => state.user
    }),
    ...mapState("dialogs", {
      confirmDialog: state => state.confirmDialog
    })
  },
  methods: {
    ...mapActions("user", ["removeUser"]),
    ...mapActions("dialogs", ["setConfirmDialog"]),
    clickYes() {
      this.removeUser(this.user).then(() => {
        this.setConfirmDialog(false);
      });
    },
    clickNo() {
      this.setConfirmDialog(false);
    }
  }
};
</script>
