<template>
  <div id="dialog">
    <v-layout 
      row 
      justify-center
    >
      <v-tooltip bottom>
        <span>Edit record</span>
        <v-btn
          slot="activator"
          flat
          icon
          color="success"
          @click="clickEdit()"
        >
          <v-icon>edit</v-icon>
        </v-btn>
      </v-tooltip>
      <v-tooltip bottom>
        <span>Delete record</span>
        <v-btn
          slot="activator"
          flat
          icon
          color="error"
          @click="clickConfirm()"
        >
          <v-icon>delete</v-icon>
        </v-btn>
      </v-tooltip>
      <v-dialog
        v-if="showConfirm"
        v-model="showConfirm"
        persistent
        max-width="290"
      >
        <v-card>
          <v-card-title
            class="headline"
          >
            Delete record
          </v-card-title>
          <v-card-text>Are you sure?</v-card-text>
          <v-card-actions>
            <v-spacer/>
            <v-btn
              color="green darken-1"
              flat="flat"
              @click="clickNo"
            >
              No
            </v-btn>
            <v-btn
              color="green darken-1"
              class="modal-default-button"
              flat="flat"
              @click="clickYes"
            >
              Yes
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog
        v-if="showDialog"
        v-model="showDialog"
        persistent
        max-width="500"
      >
        <v-card>
          <v-card-title
            class="headline"
          >
            Edit record
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <v-text-field
                    :value="newUser.name"
                    label="User name"
                    required
                    @input="updateUser({ name: $event })"
                  />
                </v-flex>
                <v-flex xs12>
                  <v-text-field
                    :value="newUser.email"
                    label="Email"
                    required
                    @input="updateUser({ email: $event })"
                  />
                </v-flex>
              </v-layout>
            </v-container>
            <!--<small :style="{color: 'red'}">*required</small>-->
          </v-card-text>
          <v-card-actions>
            <v-spacer/>
            <v-btn
              color="primary"
              flat="flat"
              @click="showDialog = false"
            >
              Close
            </v-btn>
            <v-btn
              color="primary"
              class="modal-default-button"
              flat="flat"
              @click="clickSave"
            >
              Save
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";

export default {
  name: "Dialog",
  props: {
    user: {
      type: Object,
      default: function() {
        return {};
      }
    }
  },
  data() {
    return {
      showDialog: false,
      showConfirm: false
    };
  },
  computed: {
    ...mapState("user", {
      newUser: state => state.newUser
    })
  },
  watch: {
    showDialog(val) {
      if (val) {
        this.UPDATE_USER(this.user);
      }
      return val;
    },
    showConfirm(val) {
      if (val) {
        this.UPDATE_USER(this.user);
      }
      return val;
    }
  },
  methods: {
    ...mapActions("user", ["putUser", "removeUser"]),
    ...mapMutations("user", ["UPDATE_USER"]),
    updateUser(e) {
      this.UPDATE_USER(e);
    },
    clickEdit() {
      this.showDialog = true;
    },
    clickSave() {
      this.putUser(this.newUser).then(() => {
        this.showDialog = false;
      });
    },
    clickConfirm() {
      this.showConfirm = true;
    },
    clickYes() {
      this.removeUser(this.newUser).then(() => {
        this.showConfirm = false;
      });
    },
    clickNo() {
      this.showConfirm = false;
    }
  }
};
</script>
