<template>
  <div id="Table">
    <v-card elevation-1>
      <v-toolbar
        color="white"
        flat
      >
        <v-toolbar-title>
          Users
        </v-toolbar-title>
        <v-divider
          class="mx-2"
          inset
          vertical
        />
        <v-tooltip bottom>
          <span>Add user</span>
          <v-btn
            slot="activator"
            flat
            icon
            color="success"
            @click="clickAdd()"
          >
            <v-icon>add</v-icon>
          </v-btn>
        </v-tooltip>
        <user-dialog/>
        <confirm-dialog/>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Search"
          single-line
          hide-details
        />
      </v-toolbar>
      <v-data-table
        :headers="headers"
        :search="search"
        :items="users"
        :loading="loading"
        :pagination.sync="pagination"
        :total-items="pagination.totalItems"
        disable-initial-sort
        light
        hide-actions
      >
        <template
          slot="items"
          slot-scope="props">
          <td class="text-xs-left">{{ props.item.name }}</td>
          <td class="text-xs-left">{{ props.item.email }}</td>
          <td class="text-xs-right">
            <v-layout
              row
              justify-center
            >
              <v-tooltip bottom>
                <span>Edit record</span>
                <v-btn
                  slot="activator"
                  flat
                  icon
                  color="success"
                  @click="clickEdit(props.item)"
                >
                  <v-icon>edit</v-icon>
                </v-btn>
              </v-tooltip>
              <v-tooltip bottom>
                <span>Delete record</span>
                <v-btn
                  slot="activator"
                  flat
                  icon
                  color="error"
                  @click="clickConfirm(props.item)"
                >
                  <v-icon>delete</v-icon>
                </v-btn>
              </v-tooltip>
            </v-layout>
          </td>
        </template>
        <v-alert
          slot="no-results"
          :value="true"
          color="error"
          icon="warning"
        >
          Your search for "{{ search }}" found no results.
        </v-alert>
      </v-data-table>
    </v-card>
    <div class="text-xs-center pt-2">
      <v-pagination
        :value="pagination.page"
        :length="pages"
        @input="chanePage"
        circle
      ></v-pagination>
    </div>
  </div>
</template>

<script>
import ConfirmDialog from "./ConfirmDialog";
import UserDialog from "./UserDialog";
import { mapState, mapActions, mapMutations } from "vuex";

export default {
  name: "Table",
  components: {
    UserDialog,
    ConfirmDialog
  },
  data() {
    return {
      // search: "",
      headers: [
        { text: "Name", align: "left", value: "name" },
        { text: "Email", align: "left", value: "email" }
      ]
    };
  },
  computed: {
    ...mapState("users", ["users", "loading"]),
    pagination: {
      get: function() {
        return this.$store.state.users.pagination;
      },
      set: function(value) {
        this.$store.commit("users/SET_PAGINATION", value);
      }
    },
    pages() {
      return Math.ceil(
        this.pagination.totalItems / this.pagination.rowsPerPage
      );
    },
    search: {
      get: function() {
        return this.$store.state.users.search;
      },
      set: function(value) {
        this.$store.commit("users/SET_SEARCH", value);
      }
    }
  },
  watch: {
    pagination: {
      handler() {
        this.loadUsers();
      },
      deep: true
    }
  },
  methods: {
    ...mapActions("users", ["loadUsers"]),
    ...mapActions("user", ["setUser"]),
    ...mapActions("dialogs", [
      "setUserDialog",
      "setConfirmDialog",
      "setNewUser"
    ]),
    clickAdd() {
      this.setNewUser(true);
      this.setUser([]);
      this.setUserDialog(true);
    },
    clickEdit(item) {
      this.setNewUser(false);
      this.setUser(item);
      this.setUserDialog(true);
    },
    clickConfirm(item) {
      this.setUser(item);
      this.setConfirmDialog(true);
    },
    chanePage(val) {
      this.$store.commit("users/SET_PAGE", val);
    }
  }
};
</script>
