<template>
  <div id="user-dialog">
    <v-dialog
      :value="userDialog"
      persistent
      max-width="500"
    >
      <v-card>
        <v-card-title
          class="headline"
        >
          Edit record
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field
                  :value="user.name"
                  label="User name"
                  required
                  @input="updateUser({ name: $event })"
                />
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  :value="user.email"
                  label="Email"
                  required
                  @input="updateUser({ email: $event })"
                />
              </v-flex>
            </v-layout>
          </v-container>
          <!--<small :style="{color: 'red'}">*required</small>-->
        </v-card-text>
        <v-card-actions>
          <v-spacer/>
          <v-btn
            color="primary"
            flat="flat"
            @click="setUserDialog(false)"
          >
            Close
          </v-btn>
          <v-btn
            color="primary"
            class="modal-default-button"
            flat="flat"
            @click="clickSave"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";

export default {
  name: "UserDialog",
  data() {
    return {};
  },
  computed: {
    ...mapState("user", {
      user: state => state.user
    }),
    ...mapState("dialogs", {
      userDialog: state => state.userDialog,
      newUser: state => state.newUser
    })
  },
  methods: {
    ...mapActions("user", ["putUser", "addUser"]),
    ...mapMutations("user", ["UPDATE_USER"]),
    ...mapActions("dialogs", ["setUserDialog"]),
    updateUser(val) {
      this.UPDATE_USER(val);
    },
    clickSave() {
      if (!this.newUser) {
        this.putUser(this.user).then(() => {
          // this.$refs.vuetable.refresh();
          this.setUserDialog(false);
        });
      } else {
        this.addUser(this.user).then(() => {
          this.setUserDialog(false);
        });
      }
    }
  }
};
</script>
